{{- define "main" }}
<head>
  <link href="/assets/css/home.css" rel="stylesheet">
  <link rel="preload" as="style" href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css" onload="this.rel='stylesheet'">
<head>
<body>
  <section id="hero">
    <div class="hero-row">
      <!-- <div class="hero-column blob-background">
        <img src="" width="300" height="300" alt="Tyler Kennedy">
      </div> -->
      <div class="hero-column">
        <h2>I Build Modern Websites for Your Business</h2>
        <br>
        <p>I am a professional web developer specializing in building websites for small businesses. <br> I help your business thrive online. Contact me to get started. </p>
        <a class="hire-me-button" href="/contact">Hire Me</a>
      </div>
    </div>
  </section>
</body>
{{- end}}
